.account-compact {
  .account-avatar {
    flex-shrink: 0;
  }

  .account-title {
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0;
    color: map-get($custom-colors, "white");
  }

  .account-subtitle {
    color: map-get($custom-colors, "grey-2");
  }

  .account-crown {
    font-size: 12px;
    color: map-get($custom-colors, "yellow");
  }

  .menu-arrow-icon {
    color: map-get($custom-colors, "white");
  }

  &:hover .menu-arrow-icon {
    color: map-get($custom-colors, "yellow");
  }
}

.account-avatar {
  width: 40px;
  height: 40px;
  border-radius: 8px;
  background-color: map-get($custom-colors, "black-light");

  display: flex;
  align-items: center;
  justify-content: center;

  position: relative;
  flex-shrink: 0;
}

.avatar-circle {
  border-radius: inherit;
  background-color: inherit;
}

.avatar-badge {
  position: absolute;
  top: -4px;
  right: -4px;

  width: 24px;
  height: 16px;

  gap: 2px;

  padding: 2px 6px;

  font-size: 10px;
  line-height: 12px;

  color: map-get($custom-colors, "white");
  background-color: map-get($custom-colors, "red");
  border: 2px solid map-get($custom-colors, "black");

  box-sizing: border-box;
}
