// =====================================================
// ACCOUNT COMPACT
// =====================================================
.account-compact {
  cursor: pointer;

  .account-avatar {
    flex-shrink: 0;
  }

  // -------------------------
  // Title (верхний текст)
  // -------------------------
  .account-title {
    font-family: $font-family-sans-serif; // Inter
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0;
    color: map-get($custom-colors, "white");
  }

  // -------------------------
  // Subtitle
  // -------------------------
  .account-subtitle {
    color: map-get($custom-colors, "grey-2");
  }

  .account-crown {
    font-size: 12px;
    color: map-get($custom-colors, "yellow");
  }

  // -------------------------
  // Arrow
  // -------------------------

  .menu-arrow-icon:hover {
    .account-arrow {
      color: map-get($custom-colors, "yellow");
    }
  }
}

// =====================================================
// ACCOUNT AVATAR
// =====================================================
.account-avatar {
  width: 40px;
  height: 40px;
  border-radius: 8px;
  background-color: map-get($custom-colors, "black-light");

  display: flex;
  align-items: center;
  justify-content: center;

  position: relative;
  flex-shrink: 0;
}

// если потом захочешь реальный img
.avatar-circle {
  width: 100%;
  height: 100%;
  border-radius: inherit;
  background-color: inherit;
}

// =====================================================
// AVATAR BADGE
// =====================================================
.avatar-badge {
  position: absolute;
  top: -4px;
  right: -4px;

  width: 24px;
  height: 16px;

  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 2px;

  padding: 2px 6px;

  font-size: 10px;
  line-height: 12px;
  font-weight: 500;

  color: map-get($custom-colors, "white");
  background-color: map-get($custom-colors, "red");

  border-radius: 100px;
  border: 2px solid map-get($custom-colors, "black");

  white-space: nowrap;
  box-sizing: border-box;
}
