.profile-card {
  background-color: map-get($custom-colors, 'black');
  border: 1px solid map-get($custom-colors, 'black-light');
  border-radius: 12px;
  padding: 12px;
}

.app-layout.is-collapsed {
  .profile-card {
    width: 64px;
    padding: 4px;
    gap: 4px;

    .account-compact {
      flex-direction: column;
      align-items: center;
      gap: 4px;

      .account-text {
        display: none !important;
      }

      .account-avatar {
        width: 56px;
        height: 56px;
      }

      .menu-arrow-icon {
        display: none;
      }
    }
  }
}
