.profile-balance {
  height: 40px;
  padding: 0 8px;
  border-radius: 8px;

  color: map-get($custom-colors, "white");
  cursor: pointer;
  font-weight: 400 !important;
  font-size: 14px !important;
  line-height: 20px !important;

  .balance-container {
    color: inherit;
    text-decoration: none;

    .item-container {
      @extend .d-flex;
      @extend .gap-2;
    }

    &:hover {
      color: inherit;
      text-decoration: none;
    }
  }

  &.yellow {
    background: map-get($custom-colors, "yellow-black");
    --balance-accent: #{map-get($custom-colors, "yellow")};
  }

  &.red {
    background: map-get($custom-colors, "red-black");
    --balance-accent: #{map-get($custom-colors, "red")};
  }

  .balance-left-icon i,
  .balance-action-icon i {
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--balance-accent);
    line-height: 1;
  }

  .balance-left-icon i {
    width: 18px;
    height: 18px;
    font-size: 16px;
  }

  .balance-action-icon i {
    width: 16px;
    height: 16px;
    font-size: 16px;
  }

  &:hover .balance-action-icon i {
    width: 19.2px;
    height: 19.2px;
    font-size: 19.2px;
  }
}

.app-layout.is-collapsed {
  .profile-balance {
    width: 56px;
    height: 56px;
    padding: 6px 4px;
    border-radius: 12px;

    display: flex;
    align-items: center;
    justify-content: center;
  }

  .profile-balance .balance-container {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 4px;
    width: 100%;

    .item-container {
      @extend .d-flex;
      @extend .flex-column;
      @extend .gap-1;
    }
  }

  .profile-balance {
    flex-grow: 0;
    text-align: center;
    font-size: 12px;
    line-height: 16px;
  }

  .profile-balance .sum {
    display: none;
  }

  .profile-balance .balance-action-icon {
    display: none !important;
  }

  .profile-balance .balance-left-icon i {
    width: 24px;
    height: 24px;
    font-size: 24px;
  }
}
