.sidebar {
  background: map-get($custom-colors, "black");
  color: #fff;
  transition: width .25s ease;
}

.sidebar-inner {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.sidebar.collapsed {
  .logo-expanded { display: none; }
  .logo-collapsed { display: block; }
}


.sidebar-toggle {
    display: flex;
    align-items: center;
    justify-content: center;

    i {
        font-size: 18px;
        line-height: 1;
    }
}

.sidebar.is-collapsed {
    width: 64px;

    .logo-expanded {
        display: none;
    }

    .sidebar-toggle {
        margin: 0 auto;
    }

    .sidebar-account,
    .sidebar-knowledge-text {
        display: none;
    }
}
