.app-layout {
  display: grid;
  grid-template-columns: 280px 1fr;
  grid-template-rows: 88px 1fr;
  height: 100vh;
}

.app-layout.is-collapsed {
  grid-template-columns: 80px 1fr;
}

.main-area {
  min-width: 0;
}

.main-scroll {
  grid-column: 2;
  grid-row: 1 / 3;
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 20px;
  min-height: 0;
}

.topbar {
  padding: 16px 20px;
  height: 88px;
  border-radius: 12px;
  background-color: map-get($custom-colors, "white");
}

.content {
  border-radius: 12px;
  padding: 16px 20px;
  background-color: map-get($custom-colors, "white");
  flex: 1;
  min-height: 0;
  overflow: auto;
}