@import 'abstracts/fonts';
@import 'bootstrap', 'bootstrap-icons/font/bootstrap-icons.css';
@import 'datatables.net-bs5/css/dataTables.bootstrap5.min.css';

@import 'abstracts/color-tokens', 'abstracts/typography';
@import 'layout';
@import 'components/sidebar/sidebar', 'components/sidebar/menu-item',
  'components/sidebar/sidebar-submenu', 'components/sidebar/profile/profile-card',
  'components/sidebar/profile/profile', 'components/sidebar/profile/balance', 'components/status',
  'components/alert', 'components/toast', 'components/tag', 'components/input',
  'components/checkbox', 'components/radio', 'components/switch',
  'components/button-toggle', 'components/stepper', 'components/modal', 'components/button',
  'components/right-sidebar', 'components/user-card', 'components/tooltip', 'components/dropdown';

@import 'components/table';

@import 'components/account/table', 'components/account/search', 'components/account/select',
  'components/account/account-settings', 'components/users/search', 'components/sbis/table',
  'components/data-storage/table', 'components/custom-table/table', 'components/custom-table/show/table',
  'components/custom-table/edit/table';

.bi::before {
  vertical-align: 0 !important;
}

[x-cloak] {
  display: none !important;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}
