@import "bootstrap", "bootstrap-icons/font/bootstrap-icons.css";

@import "abstracts/color-tokens", "abstracts/typography";
@import "layout";
@import "components/sidebar/sidebar",
  "components/sidebar/menu-item",
  "components/sidebar/sidebar-submenu",
  "components/sidebar/profile/profile-card",
  "components/sidebar/profile/profile",
  "components/sidebar/profile/balance";

@import "components/buttons";
