$modal-shadow:
  0px 4px 12px -4px rgba(0, 0, 0, 0.12),
  0px 16px 32px rgba(0, 0, 0, 0.12);

.modal {
  position: absolute;
  left: auto;
  top: auto;

  .modal__header .btn__icon svg {
    width: 8.33px;
    height: 8.33px;
  }
}

.modal-overlay {
  position: fixed;
  inset: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
  overflow-y: auto;
  background: $black-opacity-40;
  z-index: 1100;
}

.modal-overlay .modal {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  padding: 0;
  background: map-get($custom-colors, 'white');
  box-shadow: $modal-shadow;
  border-radius: 12px;
  flex: none;
  overflow: hidden;
}

.modal-overlay.modal--small .modal {
  width: var(--modal-width, 560px);
}

.modal-overlay.modal--large .modal {
  width: var(--modal-width, 780px);
}

.modal__header {
  box-sizing: border-box;
  padding: 20px;
  width: 100%;
  flex: none;
  align-self: stretch;
  border-bottom: 1px solid map-get($custom-colors, 'grey-5');
}

.modal__header-inner {
  padding: 0;
}

.modal__title-icon {
  flex: none;
  width: 20px;
  height: 20px;
  color: map-get($custom-colors, 'grey-1');
}

.modal__title {
  margin: 0;
  flex: 1 1 auto;
  min-width: 0;
  font-family: 'Inter', serif;
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 28px;
  color: map-get($custom-colors, 'black');
}

.modal__close {
  flex: none;
  width: 36px;
  height: 36px;
  padding: 8px;
  min-width: 36px;
  border-radius: 100px;
}

.modal__body {
  padding: 24px 20px;
  flex: 1 1 auto;
  align-self: stretch;
  overflow-y: auto;
  font-family: 'Inter', serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: map-get($custom-colors, 'black');
}

.modal__footer {
  box-sizing: border-box;
  padding: 20px;
  width: 100%;
  flex: none;
  align-self: stretch;
  border-top: 1px solid map-get($custom-colors, 'grey-5');
}

.modal-overlay.modal--footer-between .modal__footer {
  justify-content: space-between;
}

.modal-overlay.modal--footer-center .modal__footer {
  justify-content: center;
}
