.sidebar {
  width: 280px;
  padding: 20px 12px;
  background: map-get($custom-colors, "black");
  display: flex;
  flex-direction: column;
  height: 100%;
  gap: 20px;
}

.sidebar-header {
  display: flex;
  gap: 20px;
}

.sidebar-logo {
  width: 256px;
  height: 28px;
  padding-left: 12px;
  padding-right: 12px;
}

.sidebar-footer-stack {
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin-top: auto;
}

.app-layout.is-collapsed {
  .sidebar {
    width: 80px;
    padding: 20px 8px;
  }

  .sidebar-logo {
    width: 64px;
    height: 28px;
  }
}