.status {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 6px;

  .dot-text {
    display: flex;
    align-items: center;
    gap: 6px;
  }

  .status-dot {
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background-color: map-get($custom-colors, 'grey-3');
  }

  &.status-green {
    color: map-get($custom-colors, 'green');
    .status-dot {
      background-color: map-get($custom-colors, 'green');
    }
  }

  &.status-red {
    color: map-get($custom-colors, 'red');
    .status-dot {
      background-color: map-get($custom-colors, 'red');
    }
  }

  &.status-yellow {
    color: map-get($custom-colors, 'yellow');
    .status-dot {
      background-color: map-get($custom-colors, 'yellow');
    }
  }

  &.status-blue {
    color: map-get($custom-colors, 'blue');
    .status-dot {
      background-color: map-get($custom-colors, 'blue');
    }
  }

  &.status-grey-3 {
    color: map-get($custom-colors, 'grey-3');
    .status-dot {
      background-color: map-get($custom-colors, 'grey-3');
    }
  }

  .status-text {
    font-size: 14px;
    line-height: 1;
    color: map-get($custom-colors, 'black');
  }

  svg {
    stroke: currentColor;
    fill: currentColor;
  }
}
