@use 'sass:map';

.data-table {
  width: 100%;
  font-size: 14px;
  line-height: 20px;

  & thead th {
    border-bottom-width: 0 !important;
    background-color: map.get($theme-colors, 'grey-6') !important;
    color: map.get($theme-colors, 'grey-1');
    position: relative;
    padding: 12px;

    &:hover,
    &:focus {
      outline: none !important;
    }

    &:first-child {
      border-top-left-radius: 8px;
      border-bottom-left-radius: 8px;
    }

    &:last-child {
      border-top-right-radius: 8px;
      border-bottom-right-radius: 8px;
    }

    &:not(:first-child)::after {
      content: '';
      background-color: map.get($theme-colors, 'grey-4');
      height: 22px;
      width: 1px;
      position: absolute;
      left: 0;
      top: 50%;
      transform: translateY(-50%);
    }
  }

  & tbody tr:first-child {
    border-top-width: 0 !important;
  }

  & tbody td {
    padding: 12px;
  }

  .dt-length {
    gap: 8px;
    display: flex !important;

    label {
      white-space: nowrap;
      align-items: center !important;
      display: flex !important;
    }
  }

  .pagination {
    --bs-pagination-padding-x: 0.5rem;
    --bs-pagination-padding-y: 0.25rem;
    --bs-pagination-font-size: 1rem;
    --bs-pagination-line-height: 20px;

    --bs-pagination-color: #141414;
    --bs-pagination-hover-color: #141414;
    --bs-pagination-active-color: #141414;

    --bs-pagination-bg: transparent;
    --bs-pagination-hover-bg: #ffffff;
    --bs-pagination-active-bg: #ffffff;

    --bs-pagination-border-width: 0;
    --bs-pagination-border-radius: 8px;

    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0;
    margin: 0 auto;
    width: 288px;
    height: 32px;

    & .page-item {
      margin: 0;
      border-radius: 8px;
      width: 32px;
      height: 32px;

      & > .page-link {
        border: 0;
        background: transparent;
        border-radius: 8px;
        padding: 6px;
        width: 32px;
        height: 32px;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 16px;
        line-height: 20px;
      }
    }

    & .page-item.active .page-link {
      border: 1px solid #e0e0e0;
      padding: 0 8px;
    }

    & .page-item:first-child .page-link,
    & .page-item:last-child .page-link {
      padding: 6px;
    }

    & .page-item.disabled {
      opacity: 0.4;
    }
  }
}
