.user-card__avatar {
  width: 52px;
  height: 52px;
  background: map-get($custom-colors, 'grey-4');
}

.user-card__name {
  font-size: 16px;
  line-height: 24px;
}

.user-card__email {
  font-size: 14px;
  line-height: 20px;
}
