.menu-section {
  min-height: 48px;
  padding: 0 12px;
  border-radius: 8px;

  color: map-get($custom-colors, "white");
  transition: background-color .2s, color .2s;

  &:hover {
    background-color: map-get($custom-colors, "black-light");

    .menu-icon,
    &.has-children .menu-arrow {
      color: map-get($custom-colors, "yellow");
    }
  }

  &.active {
    .menu-icon {
      color: map-get($custom-colors, "yellow");
    }
  }
}

.menu-icon {
  font-size: 18px;
  line-height: 1;
}

.menu-text {
  @extend .b1;
}

.menu-arrow-icon {
  font-size: 24px;
  line-height: 1;
}


.sidebar.is-collapsed {
  width: 64px;

  .menu-section {
    flex-direction: column;
    align-items: center;
    justify-content: center;

    padding: 4px;
    gap: 4px;
    min-height: 52px;
    width: 100%;
  }

  .menu-icon {
    font-size: 24px; // 24x24
  }

  .menu-text {
    @extend .p5;
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .menu-arrow-icon {
    display: none;
  }
}