$search-sizes: (
        md: (gap: 8px, padding: 8px 12px, icon: 16px),
        lg: (gap: 10px, padding: 16px 12px, icon: 20px),
);

.search-box {
  border-radius: 8px;
  border: 1px solid map-get($custom-colors, "grey-3");
  display: flex;
  align-items: center;

  .form-control {
    background-color: map-get($custom-colors, "white");
    border: none !important;
    box-shadow: none !important;

    &:focus {
      box-shadow: none !important;
      outline: none;
    }

    &::placeholder {
      @extend .p3;
      color: map-get($custom-colors, "grey-2");
    }
  }

  .input-group-text {
    background-color: map-get($custom-colors, "white");
    border: none !important;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
  }

  .search-clear {
    cursor: pointer;
    color: map-get($custom-colors, "grey-3");
    transition: color .15s ease;

    &:hover {
      color: map-get($custom-colors, "grey-1");
    }
  }

  &:hover,
  &:focus-within {
    border-color: map-get($custom-colors, "blue-soft");
  }
}

.search-container {
  .description {
    @extend .p5;
    color: map-get($custom-colors, "grey-1");
  }
}

@each $name, $props in $search-sizes {
  .search-box-#{$name} {
    width: map-get($props, width);
    gap: map-get($props, gap);
    padding: map-get($props, padding);

    .search-icon i,
    .search-clear i {
      width: map-get($props, icon);
      height: map-get($props, icon);
      font-size: map-get($props, icon);
    }
  }
}
