.custom-tables-edit-page .data-table {
  .column-sort-order {
    width: 104px;
  }

  .column-name, .column-type, .column-data-type, .column-is-required {
    width: 156px;
  }

  .column-example-data {
    width: 112px;
  }

  .column-comment {
    width: 149px;
  }

  .dropdown-panel {
    left: -50px;
  }
}
