$col-narrow: 180px;
$col-medium: 172px;
$col-wide: 260px;

.sbis-page .data-table {
  .column-id {
    width: $col-narrow;
  }

  .column-protected-key,
  .service_key,
  .connection_type {
    width: $col-medium;
  }

  .column-organization,
  .column-comment {
    width: $col-wide;
  }

  .column-actions {
    width: 44px;
  }

  .dropdown-panel {
    left: -80px;
  }
}
