.menu-item {
  &:not(.menu-item--submenu, .sidebar-toggle-btn) {
    min-height: 48px;
  }
  color: map-get($custom-colors, 'white') !important;

  &::before {
    content: '';
    position: absolute;
    left: -2px;
    top: 50%;
    transform: translateY(-50%);
    width: 4px;
    height: 32px;
    border-radius: 18px;
    background-color: map-get($custom-colors, 'yellow');
    opacity: 0;
  }

  &:hover {
    background-color: map-get($custom-colors, 'black-light');

    &::before {
      opacity: 1;
    }

    .menu-icon,
    &.has-children .menu-arrow {
      color: map-get($custom-colors, 'yellow');
    }
  }

  &.active {
    .menu-icon {
      color: map-get($custom-colors, 'yellow');
    }
  }

  .item-container {
    @extend .d-flex;
    @extend .gap-3;
  }
}

.menu-icon {
  font-size: 18px;
  //color: map-get($custom-colors, "white");

  svg {
    stroke: currentColor;
  }
}

.menu-arrow-icon {
  font-size: 24px;
}

.menu-item--muted {
  &::before {
    display: none;
  }

  &,
  .menu-text,
  .menu-icon {
    @extend .b1;
    color: map-get($custom-colors, 'grey-2') !important;
  }

  &:hover,
  &.active {
    .menu-text,
    .menu-icon {
      color: map-get($custom-colors, 'white') !important;
    }
  }
}

.menu-knowledge {
  @extend .menu-item--muted;
  @extend .align-items-center;
  justify-content: center !important;
}

.app-layout.is-collapsed {
  .sidebar-toggle-btn {
    .menu-text {
      display: none !important;
    }
  }
  .sidebar-toggle-btn .menu-icon svg {
    transform: rotate(180deg);
  }

  .menu-item:not(.menu-item--submenu, .sidebar-toggle-btn) {
    min-height: 52px;
    padding: 4px;
    flex-direction: column;
    justify-content: center;

    .item-container {
      @extend .d-flex;
      @extend .flex-column;
      @extend .gap-1;
    }

    .menu-text {
      display: none !important;
    }

    .menu-short-text {
      @extend .p5;
      display: flex !important;
      white-space: nowrap;
      width: 100%;
    }
  }

  .menu-icon {
    font-size: 24px;
  }

  .menu-item:not(.menu-item--submenu) .menu-arrow-icon {
    display: none;
  }

  .sidebar-toggle-btn {
    justify-content: center !important;
  }

  .sidebar-toggle-btn .menu-text {
    display: none;
  }
}

.sidebar-toggle-btn {
  height: 40px !important;
  border: 1px solid map-get($custom-colors, 'black-light') !important;
  color: map-get($custom-colors, 'grey-2') !important;

  &:hover,
  &.active {
    .menu-text,
    .menu-icon {
      color: map-get($custom-colors, 'white') !important;
    }
  }

  &::before {
    display: none !important;
  }

  &:hover::before {
    opacity: 0 !important;
  }
}

.menu-item--submenu {
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
  width: 256px;
  padding: 4px 8px;

  &::before {
    width: 4px;
    height: 20px;
  }

  .menu-icon {
    font-size: 16px;
    width: 16px;
    height: 16px;
  }

  .menu-arrow-icon {
    font-size: 16px;
  }

  &:hover {
    background-color: map-get($custom-colors, 'black-light');
  }
}

.menu-item--action {
  &,
  .menu-text,
  .menu-icon {
    color: map-get($custom-colors, 'grey-1');
  }

  &:hover {
    .menu-text,
    .menu-icon {
      color: map-get($custom-colors, 'yellow');
    }
  }

  &::before {
    display: none;
  }
}

.menu-badge {
  @extend .l3;
  display: inline-flex;
  align-items: center;
  justify-content: center;

  background-color: map-get($custom-colors, 'yellow-black');
  color: map-get($custom-colors, 'yellow');
  border-radius: 4px;
  padding: 2px 4px;
  font-size: 12px;
  gap: 10px;
  text-align: center;
}
