.sidebar {
  grid-column: 1;
  grid-row: 1 / -1;
  width: 280px;
  background: map-get($custom-colors, "black");
}

.sidebar-logo {
  width: 256px;
  height: 28px;
}

.app-layout.is-collapsed {
  .sidebar {
    width: 80px;
  }

  .sidebar-logo {
    width: 64px;
    height: 28px;
  }
}
