.sidebar {
  grid-column: 1;
  grid-row: 1 / -1;
  width: 280px;
  background: map-get($custom-colors, 'black');
}

.sidebar-logo {
  width: 256px;
  height: 28px;
}

.logo-collapsed {
  display: none;
}

.logo-expanded {
  display: block;
}

.app-layout.is-collapsed {
  .sidebar {
    width: 80px;
  }

  .sidebar-logo {
    width: 64px;
    height: 28px;

    svg {
      width: 28px;
    }
  }

  .logo-expanded {
    display: none;
  }

  .logo-collapsed {
    display: block;
  }
}

.sidebar-footer-stack {
  gap: 12px;
}
