.data-table {
  .name-cell {
    color: map-get($custom-colors, 'grey-2');

    .name-cell-text {
      color: map-get($custom-colors, 'black');
    }

    svg {
      fill: currentColor;
    }
  }
}
